
body {
 background: #D5E1EF;
 font-family: 'outfit', sans-serif;
 min-height: 100vh;
 margin: 0;
 padding: 2rem 1rem;
 display: grid;
 place-items: center;
}

article.image-card {
    background: #FFFFFF;
    max-width: 25rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1.875rem;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
    border-radius: 1.25rem;
}

div.text {
    margin: 1.875rem 1.25rem;
    text-align: center;
}

h1.first-paragraph {
    font-size: 1.625rem;
    font-weight: 700;
    color: #182844;
}

.paragraph {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 400;
    color: #8B9097;
}

.attribution {
font-weight: 500;
text-align: center;
}

.attribution ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.attribution li { 
    margin: 0; 
}

.attribution a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

.attribution a:hover {
    color: red;
}